// Widget's common styles
// --------------------------------------------------

.widget-topbar {
    background-color: $orange;

    &.breadcrumb {
        border-color: $orange;
        .line {
            border-color: $orange;
            color: $orange;
            .btn.goback {
                @include link-hover($orange,$orange,$orange,transparent);
            }
        }
    }
}

.section-title {
    color: $orange;
    a {
        color: $orange;
    }
}

// Courses widget
// --------------------------------------------------

.courses-widget {
    @include card(lighten($light-blue, 30%));

    .widget-header {
        margin-bottom: 30px;
    }
    .widget-title {
        color: $purple;
    }
    .widget-filter {
        label {
            color: $purple;
        }
        .form-control {
            color: $light-blue;
            &:focus {
                border-color: $light-blue;
            }
        }
    }

    .all-courses {
        .btn {
            @include button-hover(#fff,#fff,$pink,darken($pink,10%));
        }
    }
}

// Forums widget
// --------------------------------------------------

.forums-widget {
    .widget-title {
        color: $orange;
    }

    .widget-filter {
        &:after {
            color: $orange;
        }
        .form-control {
            color: $orange;
        }
    }

    .forum-update {
        background-color: $orange;
    }
}

// Messages widget
// --------------------------------------------------

.messages-widget {
    @include card(lighten($pink,30%));
    .widget-topbar {
        background-color: $pink;
    }
    .btn {
        @include button-hover(#fff,#fff,$orange,darken($orange,5%));
    }
}

// Cards widget
// --------------------------------------------------
.cards-widget {
    background-color: rgba($yellow, 0.35) !important;
    padding: 17px;

    .presentation {
        font-size: initial;
        margin-top: 20px;
    }

    .see-more {
        background-color: $purple;
    }

    .widget-title {
        color: $purple;
    }
}
