<div class="">
    <div id="certificate-container" class="certificate-container">
        <div class="certificate-logos">
            <img src="{{ cert_template.certificate_template.base_logo_url }}" alt="" class="avante">
            <img src="{{ cert_template.site_logo_url }}" alt="{{ cert_template.site_logo_url }}" class="paralapraca">
            <div class="certificate-logo">
                <img alt="" src="{{ cert_template.certificate_template.cert_logo_url }}">
            </div>
        </div>
        <div class="certificate-title">Certificado</div>
        <div class="certificate-info">
            <p>Certificamos, para os devidos fins, que</p>
            <p class="student">{{ object.course_student.user.get_full_name }}</p>

            {{ cert_template.text | safe }}
        </div>
        <footer>
            <div class="credits-section">
                <p><b>Emitido em:</b> {{ object.modified_date | date:"d/m/Y" }}</p>
                <p><b>Realizado em:</b> ava.paralapraca.org.br</p>
                <p><b>URL de validação:</b> <a href="{% url 'certificate' object.link_hash %}">ava.paralapraca.org.br{% url 'certificate' object.link_hash %}</a></p>
            </div>
            <div class="coordinator-section">
                {% if cert_template.certificate_template.signature_url %}
                <div class="certificate-signature">
                    <img alt="Signature" src="{{ cert_template.certificate_template.signature_url }}">
                </div>
                {% endif %}
                <p class="name-coordinator">{{ cert_template.certificate_template.name }}</p>
                <p class="role-coordinator">{{ cert_template.certificate_template.role }}</p>
            </div>
        </footer>
    </div>
</div>
