{% verbatim %}
<div class="contracts contracts-edit widget container-fluid">

    <header class="widget-topbar line one-column">
        <div class="pull-right"><a class="btn btn-link" href="/contracts">&lt; Voltar</a></div>
        <h2 class="page-title">contratos</h2>
    </header>

    <h3 ng-if="!editing_mode">Novo contrato</h3>
    <h3 ng-if="editing_mode">Edição de contrato</h3>

    <form>
        <div class="row">
            <div class="col-xs-12">
                <label>Nome do contrato</label>
                <input ng-model="contract.name" type="text" class="form-control" placeholder="Digite aqui o nome do contrato">
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <label>Descrição de contrato</label>
                <textarea class="form-control" ng-model="contract.description"></textarea>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-6">
                <label>Grupos de usuários</label>
                <ui-select multiple theme="bootstrap" class="form-control" ng-model="contract.groups" title="Escolha um ou mais módulos">
                    <ui-select-match placeholder="Escolha um ou mais grupos de usuários">{{ $item.name }}</ui-select-match>
                    <ui-select-choices repeat="group in groups | filter: {name: $select.search} track by group.id">
                        <div ng-bind-html="group.name | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>

            <div class="col-xs-12 col-md-6">
                <label>Turmas</label>
                <ui-select multiple theme="bootstrap" class="form-control" ng-model="contract.classes" title="Escolha um ou mais módulos">
                    <ui-select-match placeholder="Escolha uma ou mais turmas">{{ $item.name }}</ui-select-match>
                    <ui-select-choices repeat="klass in classes | filter: {name: $select.search} track by klass.id">
                        <div ng-bind-html="klass.name | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-6">
                <label>Municípios</label>
                <input type="text" ng-model="contract.unities" class="form-control" placeholder="Digite o nome do municípios separados por vírgula">

            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <button class="btn btn-sm btn-primary save pull-right" ng-click="save_contract()">salvar contrato</button>
            </div>
        </div>
        <div ng-if="editing_mode">
            <hr/>
            <h3>Ações em massa</h3>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <h4>Importar usuários</h4>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="small text-justify">Para inserir dados no contrato, envie um arquivo tipo CSV com novos usuários e turmas que serão matrículados</p>
                        </div>
                        <div class="col-xs-12 col-md-6 flex">
                            <file id="csv_file" class="form-control" placeholder="Somente arquivos em formato CSV"
                                ng-model="c.csv_data_file" name="file"></file>
                            <button class="btn btn-sm btn-default attach" ng-click="uploadCSVData()">enviar</button>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <h4>Desativar usuários</h4>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="small text-justify">Para desativar usuários, insira uma lista de e-mails no formulário que pode ser acessado através do seguinte botão </p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <button class="btn btn-sm btn-default attach" ng-click="remove_users()">Desativar Usuários</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/ng-template" id="statsModal.html">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()"><i class="fa fa-times" aria-hidden="true"></i> fechar</button>
        <h4 class="modal-title">Resultados</h4>
    </div>
    <div class="modal-body">
        <div class="" ng-show="errors || stats.num_errors > 0">
            <h5 class="modal-title"><ng-pluralize count="stats.num_errors" when="{'0': 'Nenhum erro encontrado', '1': 'Um erro encontrados', 'other': '{{ stats.num_errors }} erros encontrados'}"></ng-pluralize></h5>
            <p ng-show="errors.form"><b>Erro fatal:</b> {{ errors.form }}</p>
            <div ng-show="errors.class_not_found && errors.class_not_found.length > 0">
                <p>As seguintes turmas não foram encontradas:</p>
                <ul>
                    <li ng-repeat="error_klass in errors.class_not_found">{{ error_klass }}</li>
                </ul>
            </div>
            <div ng-show="errors.user_exists && errors.user_exists.length > 0">
                <p>Os seguintes usuários já existem, e não puderam ser recriados:</p>
                <ul>
                    <li ng-repeat="error_user in errors.user_exists">{{ error_user }}</li>
                </ul>
            </div>
        </div>
        <p ng-show="!errors && stats.num_errors === 0">Contrato atualizado com sucesso!</p>
        <h5 class="modal-title">Estatísticas</h5>
        <p><ng-pluralize count="stats.inserted" when="{'0': 'Nenhum usuário criado.', '1': 'Um usuário criado.', 'other': '{{ stats.inserted }} usuários criados.'}"></ng-pluralize> <ng-pluralize count="stats.new_groups" when="{'0': 'Nenhum grupo criado.', '1': 'Um grupo criado.', 'other': '{{ stats.new_groups }} grupos criados.'}"></ng-pluralize></p>
    </div>
</script>

<script type="text/ng-template" id="removeUsersModal.html">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Cancelar</span></button>
            <h4 class="modal-title" id="remove-users-modal-label">Remover usuários em lote do contrato "{{ contract.name }}"</h4>
        </div>
        <div class="modal-body">
            <label for="bulk-remove-list">Lista de usuários</label>
            <textarea id="bulk-remove-list" ng-model="data.bulk_remove_list" class="form-control" rows="10" placeholder="Copie a lista de e-mails aqui. Apenas um e-mail por linha."></textarea>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="cancel()">Cancelar</button>
            <button type="button" class="btn btn-primary" ng-click="bulk_remove()">Remover usuários</button>
        </div>
    </div>
</script>
{% endverbatim %}
