{% load i18n %}

<!-- FOOTER -->
<footer class="site-footer">

    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <a class="logo" href="https://avante.org.br/">
                  <img class="img-responsive" src="/static/img/site-logo.svg" alt="Avante" width="192">
                </a>
                <p class="follow-us">Siga-nos</p>
                <ul class="social-links">
                  <li>
                    <a href="https://www.facebook.com/avante.org/" aria-label="Facebook">
                      <i class="fa fa-facebook-f" aria-hidden="true"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.instagram.com/avante.osc/" aria-label="Instagram">
                      <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://twitter.com/avanteong" aria-label="Twitter">
                      <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://pt.horyou.com/org/avante-educacao-e-mobilizacao-social" aria-label="Horyou">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" aria-hidden="true">
                        <polygon fill="currentColor" points="15.27 2.12 14.3 9.14 7.28 9.14 6.94 11.58 13.96 11.58 12.81 19.97 15.18 19.97 17.65 2.12 15.27 2.12"></polygon>
                        <polygon fill="currentColor" points="4.82 2.12 2.35 19.97 4.73 19.97 7.19 2.12 4.82 2.12"></polygon>
                      </svg>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.youtube.com/user/ongAVANTE" aria-label="YouTube">
                      <i class="fa fa-youtube" aria-hidden="true"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://open.spotify.com/show/65itN1iZ3DyDgiHwu4MpUd" aria-label="Spotify">
                      <i class="fa fa-spotify" aria-hidden="true"></i>
                    </a>
                  </li>
                </ul>
            </div>
            <div class="col-sm-3">
              <ul>
                <li><a href="https://avante.org.br/sobre-a-avante-quem-somos/">Sobre a Avante</a></li>
                <li><a href="https://avante.org.br/o-que-fazemos/">O que fazemos</a></li>
                <li><a href="https://avante.org.br/noticias/">Notícias</a></li>
                <li><a href="https://avante.org.br/incidencia-politica/">Incidência Política</a></li>
                <li><a href="https://avante.org.br/sobre-a-avante-transparencia/">Transparência</a></li>
                <li><a href="https://avante.org.br/contribua/">Contribua</a></li>
              </ul>
            </div>
            <div class="col-sm-3">
              <ul>
                <li><a href="https://avante.org.br/sobre-a-avante-transparencia/">Políticas Avante</a></li>
                <li><a href="https://ava.avante.org.br/">AVA Avante</a></li>
                <li><a href="https://avante.org.br/central-de-midias/">Central de mídias</a></li>
                <li><a href="https://avante.org.br/pag_publicacoes/">Publicações</a></li>
                <li><a href="https://avante.org.br/pag_na-midia/">Na mídia</a></li>
              </ul>
            </div>
            <div class="col-sm-3">
              <ul>
                <li><a href="https://avante.org.br/perguntas-frequentes/">Perguntas frequentes</a></li>
                <li><a href="https://avante.org.br/vagas-disponiveis/">Vagas disponíveis</a></li>
                <li><a href="https://avante.org.br/contato/">Contato</a></li>
                <li><a href="https://avante.org.br/contribua/" class="button-link">Contribua</a></li>
              </ul>
            </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <i aria-hidden="true"></i>
            <div class="address">
              <div class="sr-only">Endereço</div>
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <div>Rua Almirante Barroso, 64, térreo</div>
              <div>Rio Vermelho - Salvador - BA</div>
              <div>CEP: 41950-350</div>
              <div>55 71 3332.3344</div>
            </div>
          </div>
          <div class="col-sm-4">
            <p class="contact">
              <i class="fa fa-whatsapp" aria-hidden="true"></i>
              <a href="https://api.whatsapp.com/send?phone=5571984186283&text=Ol%C3%A1%20Avante">
                Whatsapp (71) 98418-6283
              </a>
            </p>
            <p class="contact">
              <i class="fa fa-envelope-o" aria-hidden="true"></i>
              <a href="mailto:avante@avante.org.br">
                avante@avante.org.br
              </a>
            </p>
          </div>
          <div class="col-sm-4">
            <p class="copyright-notice">© 2021 – Avante | Todos os direitos reservados</p>
          </div>
        </div>
    </div>
</footer>
<!-- END FOOTER -->
