{% extends "base.html" %}
{% load compress %}
{% load static %}
{% load i18n %}

{% block js %}
    {{ block.super }}
    {% compress js %}
    <!-- Core -->
    <script type="text/javascript" src="{% static 'js/core/app.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'js/core/controllers.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'js/core/services.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'js/core/filters.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'angular-tweet-filter/index.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'angular-sortable-view/src/angular-sortable-view.min.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'js/directives/fixedBar.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'js/directives/alertPopup.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'js/directives/markdowneditor.js' %}" charset="utf-8"></script>

    <!-- Certificate -->
    <script type="text/javascript" src="{% static 'js/certificate/app.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'js/certificate/controllers.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'js/certificate/filters.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'js/certificate/services.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'checklist-model/checklist-model.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'js/directives/file.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'js/directives/previewImage.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'js/factories/timtec-models.js' %}" charset="utf-8"></script>
    {% endcompress %}
{% endblock %}

{% block wrapper_classes %}
wrapper-course-lesson
{% endblock %}

{% block body_attrs %}
ng-app="certification"
{% endblock %}

{% block content %}
<!-- CERTIFICATES -->
<section class="course courses-admin" ng-controller="CertificateDataAdminController">
    <div class="courses-content page container-fluid">
        <header class="page-header">
            <h3>{% trans 'Templates de Certificado e Recibos' %}</h3>
        </header>

        <!-- FILTERS -->
        <div class="filters">
            <!--  FORM INLINE -->
            <div class="form-inline">
                <!-- ROW -->
                <div class="row">
                    <div class="filter-checkbox col-md-3 col-sm-12">
                        <div class="checkbox">
                            <label><input ng-model="filters.all" type="checkbox"> {% trans 'All' %}</label>
                            <label><input ng-model="filters.receipt" type="checkbox"> {% trans 'Receipt' %}</label>
                            <label><input ng-model="filters.certificate" type="checkbox"> {% trans 'Certificate' %}</label>
                        </div>
                    </div>
                    <div class="filter-keyword col-md-3 col-sm-4">
                        <input type="text" ng-model="filters.textsearch" placeholder="{% trans 'Keyword' %}" class="form-control">
                    </div>
                    <div class="filter-ordering col-md-3 col-sm-4">
                        {% verbatim %}
                        <select ng-model="filters.contract" class="form-control"
                            ng-options="c.id as c.name for c in contracts">
                          <option value="">Todos os Contratos</option>
                        </select>
                        {% endverbatim %}
                    </div>
                    <div class="filter-reverse col-md-3 col-sm-4">
                        <button class="btn btn-sm btn-primary" ng-class="{active:reverse}" ng-click="reverse=!reverse"><i class="fa fa-refresh" aria-hidden="true"></i> Inverter ordem da lista</button>
                    </div>
                </div>
                <!-- END ROW -->
            </div>
            <!-- END FORM INLINE -->
        </div>
        <!-- END FILTERS -->

        <section class="courses-list">

            <div class="line" ng-repeat="certificate in (filteredList = (certificateList | orderBy:ordering:reverse | filter:filters.check))">


                <div class="header">
                    <h4 class="course-title">
                        {% verbatim %}
                        <a ng-href="/paralapraca/admin/certificate_settings/{{ certificate.id }}" title="{{ certificate.name }}">
                          {{ certificate.certificate_template.course_name + ' (' + certificate.contract.name + ')' }}</a>
                        {% endverbatim %}
                    </h4>

                    <span class="label label-warning" ng-if="certificate.type =='receipt'">{% trans 'Receipt' %}</span>
                    <span class="label label-success" ng-if="certificate.type == 'certificate'">{% trans 'Certificate' %}</span>
                </div>
            </div>

            <div class="row" ng-show="certificateList.$resolved && filteredList.length === 0">
                <p class="textcenter">{% trans 'No certificates found' %}</p>
            </div>
            <div class="row" ng-show="!certificateList.$resolved">
                <p class="textcenter">{% trans 'Loading certificates...' %}<i class="loading fa fa-refresh fa-spin"></i></p>
            </div>
        </section>
    </div>
</section>
{% endblock %}
